<div id="about-us">
    {% for section in sections %}
        <section>
            <div class="container grid-container">
                <div class="content">
                    <h2 class="line-height-small font-bold">{{ section.section_title }}</h2>
                    {% for point in section.description %}
                        <p class="description flex-container">
                            <span class="index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M19.9424 0.840678C19.9305 0.636825 19.8441 0.44444 19.6997 0.300049C19.5553 0.155657 19.3629 0.0693125 19.1591 0.0574078C11.2292 -0.408179 4.87735 1.97913 2.16913 6.45793C1.23038 7.99001 0.767784 9.76635 0.840013 11.5617C0.899386 13.2199 1.3827 14.8947 2.27641 16.5457L0.244204 18.5767C0.0878426 18.7331 -5.20995e-09 18.9452 0 19.1663C5.20995e-09 19.3874 0.0878426 19.5995 0.244204 19.7558C0.400565 19.9122 0.612635 20 0.833763 20C1.05489 20 1.26696 19.9122 1.42332 19.7558L3.45449 17.7237C5.10443 18.6163 6.7804 19.0996 8.43762 19.159C8.55359 19.1631 8.66921 19.1652 8.78449 19.1652C10.4633 19.1697 12.1103 18.7074 13.5416 17.8299C18.0206 15.1218 20.409 8.77128 19.9424 0.840678ZM12.6822 16.405C10.3125 17.8403 7.50745 17.8633 4.69194 16.4852L13.9239 7.25474C14.0013 7.17732 14.0627 7.08541 14.1046 6.98426C14.1465 6.88311 14.1681 6.77469 14.1681 6.6652C14.1681 6.55572 14.1465 6.4473 14.1046 6.34615C14.0627 6.245 14.0013 6.15309 13.9239 6.07567C13.8464 5.99825 13.7545 5.93684 13.6534 5.89494C13.5522 5.85304 13.4438 5.83147 13.3343 5.83147C13.2248 5.83147 13.1164 5.85304 13.0152 5.89494C12.9141 5.93684 12.8222 5.99825 12.7447 6.07567L3.51386 15.3114C2.13996 12.4991 2.15975 9.68683 3.59407 7.3214C5.89502 3.52275 11.3646 1.44271 18.3133 1.69061C18.5622 8.63379 16.4811 14.1042 12.6822 16.405Z" fill="black"/>
                                </svg>
                            </span>
                            <span class="copy flex-container">
                                <span class="label font-bold">{{ point.label }}</span>
                                {{ point.copy }}
                            </span>
                        </p>
                    {% endfor %}
                </div>
                <div class="image-wrapper flex-container">
                    <img src="{{ section.section_image }}" alt="">
                </div>
            </div>
        </section>
    {% endfor %}
</div>
