<div id="contact-us" style="--contact-us-background-image: url({{ background_image }})">
    <div class="container">
        <div class="content">
            <h2 class="line-height-small font-bold text-center">{{ heading }}</h2>
            <p class="text-center">{{ description }}</p>
            <a href="#how-it-works" class="btn">{{ button_label }}</a>
        </div>
    </div>
</div>
