<div id="projects">
    <div class="container">
        <h2 class="section-title line-height-small font-bold">{{ heading }}</h2>
        <div class="gallery">
            {{ function('do_shortcode', gallery_shortcode) }}
        </div>
    </div>
</div>
