footer {
  margin-top: auto;

  > div {
    padding: 32px 0;
  }

  .flex-container {
    justify-content: space-between;
  }

  .address-section {
    .flex-container {
      align-items: center;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (max-width: 767px) {
        order: 2;
        text-align: center;
        padding: 24px 0;
        gap: 16px;
      }

      p {
        font-size: 19px;
        letter-spacing: 0.95px;

        a {
          color: inherit;
        }

        &.phone-number a,
        &.address {
          display: flex;
          gap: 8px;
          align-items: center;

          @media (max-width: 767px) {
            flex-direction: column;
          }
        }
      }
    }

    img {
      max-width: 182px;

      @media (max-width: 767px) {
        order: 1;
        max-width: 80px;
      }
    }
  }

  .copyright-section {
    background: #1A4224;
    color: #F4F1EA;
    font-size: 16px;

    a {
      color: inherit;
      letter-spacing: 0.8px;
    }

    @media (max-width: 767px) {
      .flex-container {
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
