header {
  padding: 24px 0;

  @media (max-width: 767px) {
    padding: 16px 0;

    .container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  #logo img {
    height: 40px;

    @media (max-width: 767px) {
      height: 20px;
    }
  }

  .flex-container {
    justify-content: space-between;
    align-items: center;
  }

  .phone-call {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    gap: 12px;
    padding: 12px 24px;
    background: #1A4224;
    letter-spacing: 0.9px;

    &:hover {
      background: #222;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      letter-spacing: 0.8px;
      gap: 8px;
      padding: 12px 16px;
      width: unset;
      min-width: unset;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
