{% extends 'base.twig' %}
{% block content %}
    <div class="container page-404 text-center">
        <h1>Error 404: Page not found.</h1>
        <a href="https://costa-verde.ca/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M15 8H1M1 8L8 15M1 8L8 1" stroke="#1A4224" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            Back to Homepage
        </a>
    </div>
{% endblock %}
