{% extends 'base.twig' %}
{% block content %}
    <div class="container page-404 text-center">
        <h1>Error 404: Page not found.</h1>
        <a href="{{ site.link }}">< Back to Homepage</a>
    </div>
{% endblock %}
