<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="container flex-container">
        <p class="copyright">Copyright &copy; {{ "now"|date("Y") }} Costa Verde Contracting | All Rights Reserved</p>
    </div>
</footer>
