#cta {
  padding: 64px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
              var(--cta-background-image) no-repeat center/cover;

  .content {
    color: #fff;
    margin: 0 auto;
    max-width: 805px;

    h3 {
      font-size: 32px;
    }

    p {
      margin: 16px 0 32px;
    }

    .ctas {
      margin: 0 auto;
      justify-content: center;
      gap: 32px;
    }
  }
}
