#how-it-works {
  background: #DFE8C9;
  padding: 64px 0;

  @media (max-width: 767px) {
    padding: 32px 0;

    .content .section-title {
      text-align: center;
    }
  }

  .grid-container {
    gap: 64px;

    @media (max-width: 767px) {
      gap: 24px;
    }

    @media (min-width: 992px) {
      grid-template-columns: 1fr 560px;
    }

    .steps {
      flex-direction: column;
      gap: 24px;
      margin: 40px 0;

      @media (max-width: 767px) {
        gap: 16px;
        margin: 24px 0;
      }

      .step {
        gap: 24px;

        @media (max-width: 767px) {
          gap: 16px;
        }

        .copy {
          flex: 1;
          font-size: 21px;
          font-weight: 400;

          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
      }
    }

    .footnote {
      color: #000;

      @media (max-width: 767px) {
        text-align: center;
      }

      svg {
        position: absolute;
        top: -18px;
        right: 0;

        @media (max-width: 1199px) {
          display: none;
        }
      }
    }

    .form {
      background: #FFF;
      border: 1px solid #D9D9D9;
      border-radius: 16px;
      padding: 40px 48px;

      @media (max-width: 767px) {
        padding: 24px;
      }

      .form-title {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.64px;
        text-align: center;
        margin-bottom: 24px;

        @media (max-width: 767px) {
          font-size: 28px;
          margin-bottom: 16px;
        }
      }

      form {
        display: grid;
        gap: 24px 16px;
        grid-template-areas: "first-name last-name"
                             "email tel"
                             "textarea textarea"
                             "submit submit";

        @media (max-width: 767px) {
          grid-template-areas: "first-name"
                               "last-name"
                               "email"
                               "tel"
                               "textarea"
                               "submit";
        }

        p:nth-of-type(1) {
          grid-area: first-name;
        }

        p:nth-of-type(2) {
          grid-area: last-name;
        }

        p:nth-of-type(3) {
          grid-area: email;
        }

        p:nth-of-type(4) {
          grid-area: tel;
        }

        p:nth-of-type(5) {
          grid-area: textarea;
        }

        p:nth-of-type(6) {
          margin-top: 8px;
          grid-area: submit;
          position: relative;

          input[type="submit"] + span {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        input[type="tel"],
        input[type="text"],
        input[type="email"],
        textarea {
          color: #222222;
          background-color: #ffffff;
          border-color: #D0D5DD;
          border-width: 1px;
          border-style: solid;
          border-radius: 8px;
          width: 100% !important;
          max-width: 100%;
          max-height: 250px;
          font-size: 16px;
          font-family: inherit;
          padding: 10px 14px 10px 14px;
          box-sizing: border-box;
          outline: none;
          font-weight: 500;
        }

        label {
          max-width: 100%;
          font-size: 14px;
          color: #222222;
          font-weight: 500;
          text-align: left;
          padding: 0;
          margin: 0;

          span {
            display: block;
            margin-top: 6px;
          }
        }

        input[type="submit"] {
          margin: 0 auto;
        }

        .wpcf7-response-output {
          display: none;
        }

        .wpcf7-not-valid-tip {
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}
