#services {
  padding: 80px 0;

  @media (max-width: 767px) {
    padding: 32px 0;
  }

  .grid-container {
    column-gap: 64px;

    @media (min-width: 992px) {
      grid-template-columns: 460px 1fr;
    }
  }

  .content {
    p {
      margin-top: 16px;
    }
  }

  .services {
    @media (max-width: 767px) {
      margin-top: 24px;
    }

    .services-list-title {
      font-size: 28px;
      color: #000;
      margin-bottom: 24px;

      @media (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 16px;
      }
    }

    .lists {
      gap: 8px;
      grid-template-columns: unset;

      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1200px) {
        grid-template-columns: repeat(var(--services-cols), 1fr);
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 0;
      padding-left: 18px;
    }
  }
}
